.suggestion {
    cursor: pointer;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
    border-radius : 3px;
    margin : -2px
}

.suggestion:hover {
    background-color: #1F43CF;
    color: white;
}